.chart-container{
	height:150px;
	position:relative;
}

.bullet{
	font-size:14px;
}

.bullet .bar.s0 { fill:hsl(0,0%,60%); }
.bullet .bar.s1 { fill: hsl(0,0%,50%); }
.bullet .bar.s2 { fill: hsl(0,0%,40%); }
.bullet .bar.s3 { fill:hsl(0,0%,20%); }
.bullet .bar.s4 { fill: hsl(0,0%,10%); }


.bullet .bar.measure{
	 -moz-animation:example 1s;
	 animation: example 1s;
   -webkit-animation: example 1s; /* For Safari */

}
.bullet .title{
	font-weight:bold;
	font-size:14px;
}
.bullet .title, .bullet .sub-title{
	text-anchor:end;
}
.bullet .sub-title{
  font-size:10px;
}
.bullet .tick{
	stroke:#000;
	stroke-width:.5px;
}
.bullet .tick-label{
 font-size:12px;
}
.bullet .target{
	stroke-width:3px;
}
