.chart-container{
	height:150px;
	position:relative;
}

.bullet{
	font-size:14px;
}

.bullet .bar.s0 { fill: #eee; }
.bullet .bar.s1 { fill: #ddd; }
.bullet .bar.s2 { fill: #ccc; }

.bullet .bar.measure{
	 fill:#000;
	 -moz-animation:example 1s;
	 animation-name: example;
   animation-duration: 1s;
	 -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
   -webkit-animation-duration: 1s;

}

.bullet .sub-title{
  font-size:10px;

}
.bullet .tick{
	stroke:#666;
	stroke-width:.5px;
}
.bullet .tick-label{
 font-size:12px;
}
.bullet .target{
	stroke:#666;
	stroke-width:3px;
}
